<% current_user.notifications.last(Settings.notify.max_notify_show).reverse.each do |notification| %>
  <div>
    <%= render "notifications/header_notification",
      notification: notification %>
  </div>
<% end %>
<div>
  <%= link_to t(".all_notify"), notifications_path, class: "all-notify-header" %>
</div>
