$colour1: #777;
$white: #fff;
$black: #000;
$colour3: #222;
$gray_light: #555;
$colour5: #eaeaea;
$colour_bbb: #bbb;
$dark_blue: #C8EBFF;
$light_blue: #BEE7FF;
$main_background: #F1F2F2;
$colour_81: #818181;
$colour_f9: #f9f9f9;
$red: #FD0026;

