@import "bootstrap-sprockets";
@import "bootstrap";
@import "colour";
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);

#main {
  background: $main_background;
}

#home-page {
  background-image: url("background-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#main-content {
  margin: 10px 200px 0;
  padding: 0 10px;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: $white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#btn-notify {
  position: relative;
  display: block;
  padding: 15px;
  color: $gray_dark;
  cursor: pointer;
}

#btn-notify i {
  pointer-events: none;
}

#btn-notify div {
  pointer-events: none;
}

.notification {
  color: $black;
  width: 100%;
  float: left;
  background: $white;
}

.notification_seen {
  color: $black;
  width: 100%;
  float: left;
  background: $dark_blue;
}

.all-notify-header {
  background: $dark_blue;
  width: 100%;
  padding: 5px;
  text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: $colour_f9;
  min-width: 400px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  display: block;
  border: 0.5px solid $gray-lighter;
}

.dropdown-content div:hover {background-color: $main_background;}

.comment {
  border-radius: 15px;
  background: $main_background;
  margin: 2px;
  margin-left: 30px;
  margin-right: 30px;
  float: left;
  clear: both;
}

#all-comment {
  margin: 0 15px 10px ;
}

#notifications-count{
  border-radius: 50%;
  background: $red;
  color: $white;
  font-size: .75em;
  height: 16px;
  line-height: 1.75em;
  position: absolute;
  right: 2px;
  text-align: center;
  top: 2px;
  width: 16px;
}

.lesson-description {
  height: 70px;
}

.lesson-content {
  height: 150px;
  text-align: justify;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $main_background;
  }
}

.user-name {
  font-weight: bold;
}

.user-cover {
  background-image: url("background-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 250px;
  color: $white;
  position: relative;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.user-cover div {
  position:absolute;
  bottom: 0;
}

.user-cover .gravatar {
  border: 2px solid $white;
  display: inline-block;
  margin: 5px 25px;
}

.user-cover div h1 {
  display: inline-block;
  margin-top: 4px;
}

#loginbox {
  margin-top: 50px;
}

.panel-body {
  padding-top: 30px;
}

.panel-body .input-group {
  margin-bottom: 25px;
}

.panel-body .form-group {
  margin-top: 10px;
}

.control div {
  border-top: 1px solid $colour_888;
  padding-top: 15px;
  font-size: 85%;
}

.follow-btn {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.input-group {
  width: 100%;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 10;
  left: 0;
  overflow-x: hidden;
  padding: 6px 8px 6px 16px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: $black;
  font-size: 18px;
  display: block;
}

.sidenav a:hover {
  color: $blue;
}

.post {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  background: $white;
  margin-bottom: 10px;
}

.post p {
  margin: 10px;
}

.leftcolumn {
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.menu-button:hover {
  color: $black !important;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.column-avt {
  float: left;
}

.column-name {
  float: left;
  width: 60%;
}

.user-info-lesson {
  padding: 5px;
  margin: 0 20px;
}

.user-info-lesson .gravatar {
  border-radius: 50%;
  margin-right: 15px;
  padding-top: 22px;
  float: left;
}

.icon-user {
  width: 100%;
}

.icon-user .gravatar {
  border-radius: 50%;
  float: left;
  margin-right: 5px
}

.user-info-lesson p {
  font-size: 25px;
}

.user-info-mini .gravatar {
  border-radius: 50%;
  margin-right: 15px;
  padding: 10px;
  float: left;
  display: inline-block;
}

.user-info-mini h4 {
  display: inline-block;
  white-space: pre-wrap;
}

.user-info-mini {
  padding: 5px;
  overflow: hidden;
  margin: 0 20px;
  display: inline-block;
}

.left-column {
  float: left;
  width: 75%;
}

.right-column {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.row:after {
  display: table;
  clear: both;
}

#frame {
  height: 92vh;
  width: 200px;
  right: 0;
  position: fixed;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

#sidepanel {
  float: right;
  top: 0;
  min-width: 200px;
  max-width: 200px;
  width: 40%;
  height: 100%;
  background: $bg_list_messages;
  color: $whitef5;
  overflow: hidden;
  position: relative;
}

.list-contacts {
  list-style: none;
  padding-left: 5px;
}

#sidepanel #profile {
  width: 80%;
  margin: 25px auto;
}

#sidepanel #profile.expanded .wrap {
  height: 210px;
  line-height: initial;
}

#sidepanel #profile.expanded .wrap p {
  margin-top: 20px;
}

#sidepanel #profile.expanded .wrap i.expand-button {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

#sidepanel #profile .wrap {
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  -moz-transition: 0.3s height ease;
  -o-transition: 0.3s height ease;
  -webkit-transition: 0.3s height ease;
  transition: 0.3s height ease;
}

#sidepanel #profile .wrap img {
  width: 50px;
  border-radius: 50%;
  padding: 3px;
  border: 2px solid #e74c3c;
  height: auto;
  float: left;
  cursor: pointer;
  -moz-transition: 0.3s border ease;
  -o-transition: 0.3s border ease;
  -webkit-transition: 0.3s border ease;
  transition: 0.3s border ease;
}

#sidepanel #profile .wrap img.online {
  border: 2px solid $green_online;
}

#sidepanel #profile .wrap img.away {
  border: 2px solid $yellow_away;
}

#sidepanel #profile .wrap img.busy {
  border: 2px solid $red_busy;
}

#sidepanel #profile .wrap img.offline {
  border: 2px solid $gray_offline;
}

#sidepanel #profile .wrap p {
  float: left;
  margin-left: 15px;
}

#sidepanel #profile .wrap i.expand-button {
  float: right;
  margin-top: 23px;
  font-size: 0.8em;
  cursor: pointer;
  color: $blue_black_light;
}

#sidepanel #profile .wrap #status-options {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 150px;
  margin: 70px 0 0 0;
  border-radius: 6px;
  z-index: 99;
  line-height: initial;
  background: $blue_black_light;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

#sidepanel #profile .wrap #status-options.active {
  opacity: 1;
  visibility: visible;
  margin: 75px 0 0 0;
}

#sidepanel #profile .wrap #status-options:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid $blue_black_light;
  margin: -8px 0 0 24px;
}

#sidepanel #profile .wrap #status-options ul {
  overflow: hidden;
  border-radius: 6px;
}

#sidepanel #profile .wrap #status-options ul li {
  padding: 15px 0 30px 18px;
  display: block;
  cursor: pointer;
}

#sidepanel #profile .wrap #status-options ul li:hover {
  background: #496886;
}

#sidepanel #profile .wrap #status-options ul li span.status-circle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px 0 0 0;
}

#sidepanel #profile .wrap #status-options ul li span.status-circle:before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  margin: -3px 0 0 -3px;
  background: transparent;
  border-radius: 50%;
  z-index: 0;
}

#sidepanel #profile .wrap #status-options ul li p {
  padding-left: 12px;
}

@media screen and (max-width: 735px) {
  #sidepanel #profile .wrap #status-options ul li p {
    display: none;
  }
}

#sidepanel #profile .wrap #status-options ul li#status-online span.status-circle {
  background: $green_online;
}

#sidepanel #profile .wrap #status-options ul li#status-online.active span.status-circle:before {
  border: 1px solid $green_online;
}

#sidepanel #profile .wrap #status-options ul li#status-away span.status-circle {
  background: $yellow_away;
}

#sidepanel #profile .wrap #status-options ul li#status-away.active span.status-circle:before {
  border: 1px solid $yellow_away;
}

#sidepanel #profile .wrap #status-options ul li#status-busy span.status-circle {
  background: $red_busy;
}

#sidepanel #profile .wrap #status-options ul li#status-busy.active span.status-circle:before {
  border: 1px solid $red_busy;
}

#sidepanel #profile .wrap #status-options ul li#status-offline span.status-circle {
  background: $gray_offline;
}

#sidepanel #profile .wrap #status-options ul li#status-offline.active span.status-circle:before {
  border: 1px solid $gray_offline;
}

#sidepanel #profile .wrap #expanded {
  padding: 100px 0 0 0;
  display: block;
  line-height: initial !important;
}

#sidepanel #profile .wrap #expanded label {
  float: left;
  clear: both;
  margin: 0 8px 5px 0;
  padding: 5px 0;
}

#sidepanel #profile .wrap #expanded input {
  border: none;
  margin-bottom: 6px;
  background: $blue_black;
  border-radius: 3px;
  color: $whitef5;
  padding: 7px;
  width: calc(100% - 43px);
}

#sidepanel #profile .wrap #expanded input:focus {
  outline: none;
  background: $blue_black_light;
}

#sidepanel #search {
  border-top: 1px solid $blue_black;
  border-bottom: 1px solid $blue_black;
  font-weight: 300;
}

#sidepanel #search label {
  position: absolute;
  margin: 10px 0 0 20px;
}

#sidepanel #search input {
  font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
  padding: 10px 0 10px 46px;
  width: calc(100% - 25px);
  border: none;
  background: $blue_black;
  color: $whitef5;
}
#sidepanel #search input:focus {
  outline: none;
  background: $blue_black_light;
}

#sidepanel #search input::-webkit-input-placeholder {
  color: $whitef5;
}

#sidepanel #search input::-moz-placeholder {
  color: $whitef5;
}

#sidepanel #search input:-ms-input-placeholder {
  color: $whitef5;
}

#sidepanel #search input:-moz-placeholder {
  color: $whitef5;
}

#sidepanel #contacts {
  height: calc(100% - 177px);
  overflow-y: scroll;
  overflow-x: hidden;
}

#sidepanel #contacts.expanded {
  height: calc(100% - 334px);
}

#sidepanel #contacts::-webkit-scrollbar {
  width: 8px;
  background: $bg_list_messages;
}

#sidepanel #contacts::-webkit-scrollbar-thumb {
  background-color: #243140;
}

#sidepanel #contacts ul li.contact {
  position: relative;
  padding: 10px 0 15px 0;
  font-size: 0.9em;
  cursor: pointer;
}

#sidepanel #contacts ul li.contact:hover {
  background: $blue_black;
}

#sidepanel #contacts ul li.contact.active {
  background: $blue_black;
  border-right: 5px solid $blue_black_light;
}

#sidepanel #contacts ul li.contact.active span.contact-status {
  border: 2px solid $blue_black !important;
}

#sidepanel #contacts ul li.contact .wrap {
  width: 88%;
  margin: 0 auto;
  position: relative;
}

#sidepanel #contacts ul li.contact .wrap span {
  position: absolute;
  left: 0;
  margin: -2px 0 0 -2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid $bg_list_messages;
  background: $gray_offline;
}

#sidepanel #contacts ul li.contact .wrap span.online {
  background: $green_online;
}

#sidepanel #contacts ul li.contact .wrap span.away {
  background: $yellow_away;
}

#sidepanel #contacts ul li.contact .wrap span.busy {
  background: $red_busy;
}

#sidepanel #contacts ul li.contact .wrap img {
  width: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

#sidepanel #contacts ul li.contact .wrap .meta {
  padding: 5px 0 0 0;
}

#sidepanel #contacts ul li.contact .wrap .meta .name {
  font-weight: 600;
  color: $white;
}

#sidepanel #contacts ul li.contact .wrap .meta .preview {
  margin: 5px 0 0 0;
  padding: 0 0 1px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-transition: 1s all ease;
  -o-transition: 1s all ease;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

#sidepanel #contacts ul li.contact .wrap .meta .preview span {
  position: initial;
  border-radius: initial;
  background: none;
  border: none;
  padding: 0 2px 0 0;
  margin: 0 0 0 1px;
  opacity: .5;
}

#sidepanel #bottom-bar {
  position: absolute;
  width: 100%;
  bottom: 0;
}

#sidepanel #bottom-bar button {
  float: left;
  border: none;
  width: 50%;
  padding: 10px 0;
  background: $blue_black;
  color: $whitef5;
  cursor: pointer;
  font-size: 0.85em;
  font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
}

@media screen and (max-width: 735px) {
  #sidepanel #bottom-bar button {
    float: none;
    width: 100%;
    padding: 15px 0;
  }
}

#sidepanel #bottom-bar button:focus {
  outline: none;
}

#sidepanel #bottom-bar button:nth-child(1) {
  border-right: 1px solid $bg_list_messages;
}

@media screen and (max-width: 735px) {
  #sidepanel #bottom-bar button:nth-child(1) {
    border-right: none;
    border-bottom: 1px solid $bg_list_messages;
  }
}

#sidepanel #bottom-bar button:hover {
  background: $blue_black_light;
}

#sidepanel #bottom-bar button i {
  margin-right: 3px;
  font-size: 1em;
}

@media screen and (max-width: 735px) {
  #sidepanel #bottom-bar button i {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 735px) {
  #sidepanel #bottom-bar button span {
    display: none;
  }
}

.popup-box {
  background-color: $white;
  border: 1px solid $gray_dark;
  bottom: 0;
  display: none;
  height: 415px;
  position: fixed;
  right: 0;
  width: 300px;
  margin-right: 205px;
  z-index: 1000;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.popup-box .popup-head {
  background-color: #fff;
  clear: both;
  color: #7b7b7b;
  display: inline-table;
  font-size: 21px;
  padding: 7px 10px;
  width: 100%;
}
.bg_none i {
  border: 1px solid #ff6701;
  border-radius: 25px;
  color: #ff6701;
  font-size: 17px;
  height: 30px;
  line-height: 30px;
  width: 30px;
}
.bg_none:hover i {
  border: 1px solid #000;
  border-radius: 25px;
  color: #000;
  font-size: 17px;
  height: 30px;
  line-height: 30px;
  width: 30px;
}
.bg_none {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
}
.popup-box .popup-head .popup-head-right {
  margin: 11px 7px 0;
}

.popup-head-left img {
  border: 1px solid $gray_dark;
  border-radius: 50%;
  width: 44px;
}

.chat-header-button {
  background: transparent none repeat scroll 0 0;
  border: 1px solid $gray_dark;
  border-radius: 50%;
  font-size: 14px;
  height: 30px;
  width: 30px;
}

.popup-messages-footer textarea {
  border-bottom: 1px solid #b2b2b2 !important;
  height: 34px !important;
  margin: 7px;
  padding: 5px !important;
  border: medium none;
  width: 95% !important;
}
.popup-messages-footer {
  background: $white none repeat scroll 0 0;
  bottom: 0;
  position: absolute;
  width: 100%;
}
.popup-messages-footer .btn-footer {
  overflow: hidden;
  padding: 2px 5px 10px 6px;
  width: 100%;
}

.popup-messages {
  background: $bg_popup_chat none repeat scroll 0 0;
  height: 275px;
  overflow: auto;
  padding-bottom: 25px;
}

.direct-chat-info {
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin: 0 0 20px 5px;
}

.direct-chat-text {
  background: $bg_message_recipient none repeat scroll 0 0;
  border: 1px solid $bg_message_recipient;
  border-radius: 5px;
  color: $black;
  margin: 5px 0 0 50px;
  padding: 5px 10px;
  position: relative;
}

.direct-chat-image-div img {
  border: 1px solid $white;
  background: $bg_popup_chat none repeat scroll 0 0;
  border-radius: 50%;
  float: left;
  height: 40px;
  margin: -21px 0 0;
  width: 40px;
}

.direct-chat-timestamp {
  color: $white;
  opacity: 0.6;
}

.navbar {
  background: $dark_blue;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-bottom-color: $dark_blue;
}

.btn-group div button {
  border: none;
  border-radius: 20px;
  background-color: $white;
  color: $black;
  outline: none;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.btn-group div {
  background-color: $white;
  cursor: pointer;
  float: left;
  outline: none;
  border: none;
  width: 33.33%;
  height: 100%;
  align-items: center;
}

.btn-group {
  width: 100%;
  align-items: center;
  vertical-align: center;
  padding: 0 5px;
}

.btn-group div button:not(:last-child) {
  border-right: none;
}

.btn-group div button:hover {
  background-color: $main_background;
}

.btn-group div button:active {
  background-color: $main_background;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  margin-top: 180px;
}

.center h1 {
  margin-bottom: 10px;
  color: $white;
  font-weight: bold;
  font-size: 70px;
}

.center h2 {
  color: $white;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $colour1;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $black;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

.search{
  margin-top: 9px;
}

#logo:hover {
  color: $black;
  text-decoration: none;
  padding-top: 9px;
}

header ul li {
  color: $white;
  font-size: 15px;
  text-anchor: $white;
}

header ul li:hover {
  background: $light_blue;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $colour5;
  color: $colour1;
}

footer a {
  color: $gray_light;
}

footer a:hover {
  color: $colour3;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input, textarea, select, .uneditable-input {
  border: 1px solid $colour_bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

input_search {
  border: 1px solid $colour_bbb;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.seach {
  display: inline-block;
}

.counts {
  width: 100%;
  height: 30px;
  background: $white;
  text-align: center;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  a {
    line-height: 30px;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    border-right: 1px solid $gray-lighter;
    color: gray;
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
}
.like{
  color: blue;
}

.dropbtn {
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown_share {
  position: relative;
  display: inline-block;
}
.dropdown_share-content {
  display: none;
  position: absolute;
  right: 85px;
  z-index: 1;
}
.dropdown_share:hover .dropdown_share-content {
  display: block;
}
.dropdown_share:hover .dropbtn {
  background-color: $main_background;
}

.set{
  width: 151px;
  height: 25px
}

#content_lesson{
  margin-top: 100px;
}

.post-video {
  text-align: center;
  margin-top: 80px;
}

.post-video iframe {
 width: 560px;
 height: 315px;
}

.follow img{
  width: 6%;
}

.fa-fw {width: 2em;}

.menu_side{
  margin-top: 30px;
}

.table{
  width: 90%;
}

header {
  z-index: 100 !important;
}

.ui-menu-item {
  z-index: 1000 !important;
}

.input-group-btn {
  width: 0%;
}
