@import "bootstrap-sprockets";
@import "bootstrap";
@import "colour";

.comment {
  border-radius: 15px;
  background: $main_background;
  margin: 2px;
  margin-left: 30px;
  margin-right: 30px;
  float: left;
  clear: both;
}

.user-name {
  font-weight: bold;
}

.input-group {
  width: 100%;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 10;
  left: 0;
  overflow-x: hidden;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 10px;
  color: $colour_81;
  display: block;
}

.sidenav a:hover {
  color: $colour_f1;
}

.post-lesson {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  background: $white;
  margin-bottom: 10px;
}

.post-lesson p {
  margin: 10px;
}

#main-content {
  margin: 50px 200px 0;
  padding: 0 10px;
}

#main {
  background: $main_background;
}

.menu-button {
  color: $black !important;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.user-info-mini .gravatar {
  border-radius: 50%;
  margin-right: 15px;
  padding: 10px;
  float: left;
  display: inline-block;
}

.user-info-mini h4 {
  display: inline-block;
  white-space: pre-wrap;
}

.user-info-mini {
  padding: 5px;
  overflow: hidden;
  margin: 0 20px;
  display: inline-block;
}

.left-column {
  float: left;
  width: 75%;
}

.right-column {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.row:after {
  display: table;
  clear: both;
}

.navbar {
  background: $dark_blue;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-bottom-color: $dark_blue;
}

.btn-group div button {
  border: none;
  border-radius: 20px;
  background-color: $white;
  color: $black;
  outline: none;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.btn-group div {
  background-color: $white;
  cursor: pointer;
  float: left;
  outline: none;
  border: none;
  width: 33.33%;
  height: 100%;
  align-items: center;
  display: inline-block;
}

.btn-group {
  width: 100%;
  align-items: center;
  vertical-align: center;
  padding: 0 5px;
}

.btn-group div button:not(:last-child) {
  border-right: none;
}

.btn-group div button:hover {
  background-color: $main_background;
}

.btn-group div button:active {
  background-color: $main_background;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $colour1;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $black;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: $black;
  text-decoration: none;
}

header ul li {
  color: $white;
  font-size: 15px;
  text-anchor: $white;
}

header ul li:hover {
  background: $light_blue;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $colour5;
  color: $colour1;
}

footer a {
  color: $gray_light;
}

footer a:hover {
  color: $colour3;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input, textarea, select, .uneditable-input {
  border: 1px solid $colour_bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

input_search {
  border: 1px solid $colour_bbb;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.radio{
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 0;
    font-weight: bold;
  }
}

.seach {
  display: inline-block;
}

.counts {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
}
