@import "bootstrap-sprockets";
@import "bootstrap";
@import "colour";

#main {
  background: $main_background;
}

#home-page {
  background-image: url("background-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#main-content {
  margin: 10px 200px 0;
  padding: 0 10px;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 10px auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: $white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#btn-notify {
  position: relative;
  display: block;
  padding: 15px;
  color: $gray_dark;
  cursor: pointer;
}

#btn-notify i {
  pointer-events: none;
}

#btn-notify div {
  pointer-events: none;
}

.notification {
  color: $black;
  width: 100%;
  float: left;
  background: $white;
}

.notification_seen {
  color: $black;
  width: 100%;
  float: left;
  background: $dark_blue;
}

.all-notify-header {
  background: $dark_blue;
  width: 100%;
  padding: 5px;
  text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: $colour_f9;
  min-width: 400px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  display: block;
  border: 0.5px solid $gray-lighter;
}

.dropdown-content div:hover {background-color: $main_background;}

.comment {
  border-radius: 15px;
  background: $main_background;
  margin: 2px;
  margin-left: 30px;
  margin-right: 30px;
  float: left;
  clear: both;
}

#all-comment {
  margin: 0 15px 10px ;
}

#notifications-count{
  border-radius: 50%;
  background: $red;
  color: $white;
  font-size: .75em;
  height: 16px;
  line-height: 1.75em;
  position: absolute;
  right: 2px;
  text-align: center;
  top: 2px;
  width: 16px;
}

.lesson-description {
  height: 70px;
}

.lesson-content {
  height: 150px;
  text-align: justify;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $main_background;
  }
}

.user-name {
  font-weight: bold;
}

.user-cover {
  background-image: url("background-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 250px;
  color: $white;
  position: relative;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.user-cover div {
  position:absolute;
  bottom: 0;
}

.user-cover .gravatar {
  border: 2px solid $white;
  display: inline-block;
  margin: 5px 25px;
}

.user-cover div h1 {
  display: inline-block;
  margin-top: 4px;
}

.follow-btn {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.input-group {
  width: 100%;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 10;
  left: 0;
  overflow-x: hidden;
  padding: 6px 8px 6px 16px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: $black;
  font-size: 18px;
  display: block;
}

.sidenav a:hover {
  color: $blue;
}

.post {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  background: $white;
  margin-bottom: 10px;
}

.post p {
  margin: 10px;
}

.leftcolumn {
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.menu-button:hover {
  color: $black !important;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.column-avt {
  float: left;
}

.column-name {
  float: left;
  width: 60%;
}

.user-info-lesson {
  padding: 5px;
  margin: 0 20px;
}

.user-info-lesson .gravatar {
  border-radius: 50%;
  margin-right: 15px;
  padding-top: 22px;
  float: left;
}

.icon-user {
  width: 100%;
}

.icon-user .gravatar {
  border-radius: 50%;
  float: left;
  margin-right: 5px
}

.user-info-lesson p {
  font-size: 25px;
}

.user-info-mini .gravatar {
  border-radius: 50%;
  margin-right: 15px;
  padding: 10px;
  float: left;
  display: inline-block;
}

.user-info-mini h4 {
  display: inline-block;
  white-space: pre-wrap;
}

.user-info-mini {
  padding: 5px;
  overflow: hidden;
  margin: 0 20px;
  display: inline-block;
}

.left-column {
  float: left;
  width: 75%;
}

.right-column {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.row:after {
  display: table;
  clear: both;
}

.navbar {
  background: $dark_blue;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-bottom-color: $dark_blue;
}

.btn-group div button {
  border: none;
  border-radius: 20px;
  background-color: $white;
  color: $black;
  outline: none;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.btn-group div {
  background-color: $white;
  cursor: pointer;
  float: left;
  outline: none;
  border: none;
  width: 33.33%;
  height: 100%;
  align-items: center;
}

.btn-group {
  width: 100%;
  align-items: center;
  vertical-align: center;
  padding: 0 5px;
}

.btn-group div button:not(:last-child) {
  border-right: none;
}

.btn-group div button:hover {
  background-color: $main_background;
}

.btn-group div button:active {
  background-color: $main_background;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  margin-top: 180px;
}

.center h1 {
  margin-bottom: 10px;
  color: $white;
  font-weight: bold;
  font-size: 70px;
}

.center h2 {
  color: $white;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $colour1;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $black;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

.search{
  margin-top: 9px;
}

#logo:hover {
  color: $black;
  text-decoration: none;
  padding-top: 9px;
}

header ul li {
  color: $white;
  font-size: 15px;
  text-anchor: $white;
}

header ul li:hover {
  background: $light_blue;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $colour5;
  color: $colour1;
}

footer a {
  color: $gray_light;
}

footer a:hover {
  color: $colour3;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input, textarea, select, .uneditable-input {
  border: 1px solid $colour_bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

input_search {
  border: 1px solid $colour_bbb;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.seach {
  display: inline-block;
}

.counts {
  width: 100%;
  height: 30px;
  background: $white;
  text-align: center;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  a {
    line-height: 30px;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    border-right: 1px solid $gray-lighter;
    color: gray;
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
}
.like{
  color: blue;
}

.dropbtn {
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown_share {
  position: relative;
  display: inline-block;
}
.dropdown_share-content {
  display: none;
  position: absolute;
  right: 85px;
  z-index: 1;
}
.dropdown_share:hover .dropdown_share-content {
  display: block;
}
.dropdown_share:hover .dropbtn {
  background-color: $main_background;
}

.set{
  width: 151px;
  height: 25px
}

#content_lesson{
  margin-top: 100px;
}

.post-video {
  text-align: center;
  margin-top: 80px;
}

.post-video iframe {
 width: 560px;
 height: 315px;
}

.follow img{
  width: 6%;
}

@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
body{margin-top:20px;}
.fa-fw {width: 2em;}

.menu_side{
  margin-top: 10px;
}

.table{
  width: 90%;
}
