<div class="input-group">
  <%= text_field_tag :term, params["term"], placeholder: "abc", class: "form-control", id: "filter-autocomplete-search", data: "autocomplete"%>
  <span class="input-group-btn">
    <button class="btn btn-outline-secondary" type="submit">
      <i class="glyphicon glyphicon-search"></i>
    </button>
  </span>
</div>
